### This NoteBook is to Print Formatted statements

In [2]:
val name:String = "Jack"
val age = 25

name: String = "Jack"
age: Int = 25

In [3]:
val occupation = "Pirate"

occupation: String = "Pirate"

In [5]:
println(s"$name is a $occupation")
println(s"$name is $age years old")

Jack is a Pirate
Jack is 25 years old